.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 24px hsla(210, 8%, 62%, 0.2);
  margin: 2rem auto;
  max-width: 500px;
  padding: 5%;
  width: 75%;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    img {
      width: 20%;
    }
  }

  button {
    margin-top: 50px;
    padding: 10px;
    background-color: #cad3ae;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}
