// Import variables color :
@use "../../styles/utils/variables";

// Style Form :
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: variables.$quinary;
  border-radius: 20px;
  box-shadow: 0 8px 24px variables.$senary;
  margin: 2rem auto;
  max-width: 700px;
  padding: 5%;
  width: 95%;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #img {
      margin: 0px auto;
      width: 13%;
      margin-bottom: 30px;

      @media (max-width: 425px) {
        width: 17%;
      }

      @media (max-width: 320px) {
        width: 20%;
      }
    }

    fieldset {
      width: 100%;
      background-color: variables.$septenary;
      border: none;
      border-radius: 10px;
      padding-right: 0px;
      margin-bottom: 50px;

      legend {
        text-align: right;
        padding: 10px;
        background-color: variables.$septenary;
        border-radius: 10px;
        font-size: 14px;
        color: #000;
        font-weight: 300;
      }
    }

    #btn {
      margin-top: 50px;
      padding: 10px;
      background-color: variables.$septenary;
      color: variables.$quinary;
      font-size: 18px;
      font-weight: 800;
      border: none;
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  &__modale__content1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;

    p {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      color: variables.$primary;
    }

    hr {
      background-color: variables.$secondary;
      border: none;
      width: 200px;
      height: 3px;
    }
  }

  &__modale__content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;

    button {
      line-height: 20px;
      border: none;
      border: solid 1px variables.$secondary;
      font-size: 15px;
      font-weight: 900;
      border-radius: 10px;
      background-color: variables.$quinary;
      padding: 13px;
      color: variables.$secondary;
      cursor: pointer;
    }

    button:hover {
      background-color: variables.$quaternary;
      color: variables.$quinary;
    }
  }
}
