// Variable color :
$primary: #000;
$secondary: #cad3ae;
$tertiary: #ff0002;
$quaternary: #6c6753;
$quinary: #fff;
$senary: hsla(210, 8%, 62%, 0.2);
$septenary: #eff1e3;
$octonary: #858170;
$nonary: #fafbf9;
