.datePicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 98%;

  label {
    color: #000;
    font-size: 18px;
    font-weight: 800;
  }

  input {
    border: none;
    padding: 10px 0px 10px 0px;
    border-bottom: solid 2px #cad3ae;
    width: 100%;
    font-size: 16px;
  }

  &__error {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    gap: 5px;

    &__img {
      max-width: 50px;
    }

    p {
      color: red;
      font-size: 13px;
      font-weight: 600;
      text-align: justify;
      width: 50%;
      width: 100%;
    }
  }
}
