// Import variables color :
@use "../../styles/utils/variables";

// Style Table :
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 30px;

  h2 {
    color: variables.$primary;
    font-size: 20px;
    font-weight: 900;
  }
}

.table_length {
  margin-bottom: 20px;
}

.table_filter {
  margin-bottom: 20px;
}

.table_info {
  margin-top: 20px;
  font-weight: bold;
  color: variables.$primary;
}

.table_paginate {
  margin-top: 20px;
}
