// Import variables color :
@use "../../styles/utils/variables";

// Style Employees :
.container__listemployees {
  background-color: variables.$nonary;
  padding: 50px 0px 100px 0px;

  h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: variables.$quaternary;
    margin: 0px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 50px;
  }
}
